<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Vue Recaptcha Demo</title>
</head>
<body>
    <p>Hello!</p>
    <p>I am the president.</p>

        <div id="app">
            <form class="vue-form" @submit.prevent="submit">
                <div class="error-message">
<p v-show="!email.valid">Please enter a valid email address.</p>
            </div>
            <fieldset>
                <legend>Vue Contact Form</legend>
                <div>
                    <label class="label" for="name">Name</label>
                    <input type="text" name="name" id="name" required="" v-model="name">
                </div>
                <div>
                    <label class="label" for="email">Email</label>
                    <input type="email" name="email" id="email" required="" :class="{ email , error: !email.valid }" v-model="email.value">
                </div>
                <div>
                    <label class="label" for="textarea">Message with Counter</label>
                    <textarea class="message" name="textarea" id="textarea" required="" v-model="message.text" :maxlength="message.maxlength"></textarea>
                    <span class="counter">{{ message.text.length }} / {{ message.maxlength }}</span>
                </div>
                <div class="g-recaptcha" data-sitekey="6LcgCXAUAAAAAPyoIk9XNttUbnlUVFzaiWXMB08Q"></div>
                <div>
                    <input type="submit" value="Send Form">
                </div>
            </fieldset>
        </form>
        <div class="debug">
            <pre><code>{{ $data }}</code></pre>
        </div>
    </div>
    <script type="text/javascript" src="index.js" defer></script>
</body>
</html>
